{% extends 'base.html'%}

{%block content%}



                    {%if mess%}
<div class="callout panel">

                        {{mess}}

                </div>
                    {%else%}

        <div class="row">
            <div class="large-12 columns">
                <div class="callout panel" style="width:75%">

                    <form action="/run/" method="post">
                                {% csrf_token %}
                                {{MessForm}}
                        <center>
                            <input class="button" type="submit" value="Запустити">
                        </center>
                    </form>
                </div>
            </div>
        </div>
{%endif%}
{%endblock%}