{% extends 'base.html'%}

{%block content%}
<div class="row">
        <div class="row">
            <div class="large-12 columns">
                <div class="callout panel">
                    <form action="/run/" method="post">
                    {% csrf_token %}
                                {{MessForm}}
                        <center>
                            <input class="button" type="submit" value="Запустити">
                        </center>
                    </form>
                </div>
            </div>
        </div>
</div>
{%endblock%}