{% extends 'base.html'%}

{%block login%}
<div class="callout panel" style="width:75%">
            <form action="/auth/login/" method="post">
             {%csrf_token%}

                <label for="username">Логін</label>
                <input type="text" name="username" id="username">

                <label for="password">Пароль</label>
                <input type="password" name="password" id="password">

                {%if login_error%}
                    <label class="error">{{login_error}}</label>
                {%endif%}

                <ul class="button-group">
                                            <input class="button left"  type="submit" value="Зайти">
                <a href="/auth/register/">  <input class="button right" value="Зареєструватися"></a>
                </ul>
            </form>
</div>


{%endblock%}