{% extends 'base.html'%}

{%block content%}

    {%if mess%}
            <div class="panel callout radius">
    {{mess}}
                </div>
    {%endif%}

    {%if list%}
    <div class="row">
    {%for i in list%}
        <div class="large-12 columns">
            <div class="panel callout radius" style="width: 75%" align="center">
                <div class="row">
                    <div class="columns">
                        <div class="row">
                                <button class="round left" disabled="disabled ">
                            {% if user.id != i.Mess1.User_id.id%}
                                {{i.Mess1}}
                            {%else%}
                                {{i.Mess1}}
                            {%endif%}</button>
                        </div>
                        <div class="row">
                                <button class="round right" disabled="disabled">
                            {% if user.id != i.Mess2.User_id.id%}
                                {{i.Mess2}}
                            {%else%}
                                {{i.Mess2}}
                            {%endif%}</button>
                        </div>

                    </div>

                    <div class="columns">
                        <a href="/view/{{i.id}}/" class="button radius">Перейти до діалогу</a>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
    {%else%}
    <H>Непрочитані діалоги відсутні</H>
    {%endif%}
{%endblock%}